<main class="index">
    <h4 class="text-center"><br> Conexion de api nodeJs con diferentes frameworks frontend </h4>
    <header class="masthead d-flex" style="margin-top: 8%">
        <div class="overlay"></div>
    </header>
</main>

<div class='container text-center'>
    <div class="container">
        <img src="https://vuejs.org/images/logo.png" width="40px" />
        <br>
        Abre en src/frontend/VueJs/index.html<a target="_blank" href="http://localhost/proyectos/Git%20nodeJs/CrudApiNodeMysql/src/frontend/VueJs/index.html">Mi ruta</a>
    </div>
    <br>

    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" width="50px" />
        <br>
        <a target="_blank" href="/links">Listar nodejs de forma local en html</a>
    </div>
    <br>

    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1024px-React-icon.svg.png" width="50px" />
        <br>
        npm i en src/frontend/React, luego npm start <br> se despliega en <a target="_blank" href="http://localhost:3000/">puerto 3000</a>
    </div>
    <br>
</div>